[Private key used to sign JWTs for kiosks and tickets (Minimum 2048 bit) (Counterpart to pub.pem.example)]
[Paste your private key here, corresponding public key in pub.pem.example - then remove the '.example' from both filenames]