[Public key to verify kiosk token and ticket authenticity (Minimum 2048 bit) (Counterpart to priv.pem.example)]
[Paste your public key here, corresponding private key in priv.pem.example - then remove the '.example' from both filenames]